# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.csv

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
/202411142355.pcap
/data/test/202411140020.pcap
/data/test/202411140021.pcap
/data/test/202411140022.pcap
/data/test/202411140023.pcap
/data/test/202411140024.pcap
/data/test/202411140025.pcap
/data/test/202411140026.pcap
/data/test/202411140027.pcap
/data/test/202411140028.pcap
/data/test/202411140029.pcap
